/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1170px) {
    .container1{
        padding: 0 50px;
    }

    .container2{
        padding: 0 50px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    .mobile-menu{
        display: block;
    }
    
    .menu{
        display: none;
        background: var(--background-primary);
        position: absolute;
        width: 100%;
        padding: 15px 0;
        top: 98px;
        right: 0px;
        text-align: center;
        z-index: 10;
    }

    .menu ul li{
        display: block;
    }

    .header-banner h1{
        width: 90%;
    }
    
    .header-banner p{
        width: 90%;
    }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 800px) {

    .services-wrap{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 60px 0;
    }

    .service-item{
        flex-basis: 45%;
        padding: 40px 30px;
    }

    .portfolio-item{
        height: 200px;
    }
      
}

@media only screen and (max-width: 768px) {


    .header-banner{
        padding: 100px 0;
    }

    .header-banner h1{
        font-size: 55px;
    }
    
    .header-banner p{
        font-size: 20px;
    }

    .header-banner a{
        margin-top: 50px;
    }


    .portfolio-item{
        flex-basis: 50%;
        height: 250px;
    }

    .team-member{
        flex-basis: 46%;
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {



    .header-banner{
        padding: 80px 0;
    }
    .header-banner h1{
        font-size: 45px;
        width: 100%;
    }
    
    .header-banner p{
        font-size: 18px;
        padding: 10px 0 0 0;
        width: 100%;
    }

    .header-banner a{
        margin-top: 30px;
    }


    .services-wrap{
        flex-direction: column;
    }

    .service-item{
        flex-basis: 45%;
        padding: 50px 50px;
    }


    .portfolio-item{
        flex-basis: 100%;
    }

    .portfolio-item a img{
        height: auto; 
    }

    .team-member{
        flex-basis: 100%;
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .header-banner h1{
        font-size: 35px;
        width: 100%;
    }
    
    .header-banner p{
        font-size: 16px;
        padding: 10px 0 0 0;
        width: 100%;
    }


    .services-wrap{
        flex-direction: column;
    }

    .service-item{
        flex-basis: 45%;
        padding: 40px 30px;
    }

}





