@font-face{
    font-family: open-sans-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
    font-family: raleway-regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: raleway-bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

:root{
    --heading-font1: open-sans-bold;
    --heading-font2: raleway-bold;
    --body-font: raleway-regular;
    --heading2-font-size: 22px;
    --body-font-size1: 14px;
    --body-font-size2: 13px;
    --color-white: #fff;
    --color-bright: #e84545;
    --color-bright-hover: #dd1f1f;
    --color-dark: #2d3033;
    --color-light:#6c7279;
    --color-extra-light:#b9b9c4;
    --background-primary:#292C47;
    --background-secondery:#292c47f1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: raleway-regular;
}

/*homepage hero start*/
section.hero{
    background-image: url(../images/pexels-fauxels-3183183.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
   
}

section.hero::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: var(--background-secondery);
    top: 0;
    left: 0;
    z-index: -1;
    
}


.container1{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 5;
    padding: 40px 0;
    border-bottom: 1px solid #4a4e72;
    background: transparent;
}

.mobile-menu a{
    display: block;
    font-size: 25px;
    color: var(--color-extra-light);
}

.mobile-menu{
    display: none;
}

.menu{
    display: block;
    background: transparent;
    position: unset;
    width: auto;
    padding: 0;
    
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
}

.menu ul li a{
    display: inline-block;
    color: var(--color-extra-light);
    padding: 10px 20px;
    text-transform: uppercase;
    line-height: .9;
    font-size: var(--body-font-size1);
    font-family: var(--heading-font2);
    transition: all .2s ease-in;
}

.menu ul li a:hover{
    color: var(--color-white);
}

.header-banner{
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner h1{
    font-size: 65px;
    font-family: var(--heading-font1);
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    width: 80%;
}

.header-banner p{
    font-size: 22px;
    font-family: var(--body-font);
    text-align: center;
    color: var(--color-white);
    line-height: 1.3;
    padding: 10px 0 0 0;
    width: 80%;
}

.header-banner a{
    display: inline-block;
    background: var(--color-bright);
    padding: 15px 40px;
    color: var(--color-white);
    border-radius: 2px;
    text-transform: uppercase;
    font-family: var(--heading-font2);
    font-size: var(--body-font-size1);
    margin: 80px 0 0 0;
    transition: all .2s ease-in;
}

.header-banner a:hover{
    background: var(--color-bright-hover);
}



/*homepage hero stop*/
/*services grid start*/
.container2{
    max-width: 1170px;
    padding: 0 40px;
    margin: auto;
}

.services-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0;
}

.service-item{
    flex-basis: 31%;
    text-align: center;
    padding: 40px 30px;
    transition: all .3s ease-in;
}

.service-item:hover{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.12);
}

.service-item img{
    height: 60px;
    display: inline-block;
}

.service-item h3{
    font-size: var(--body-font-size1);
    color: var(--color-dark);
    font-family: var(--heading-font2);
    font-weight: 700;
    padding: 25px 0px 15px 0;
}
.service-item p{
    font-size: var(--body-font-size1);
    color: var(--color-light);
    font-family: var(--body-font);
    line-height: 1.4;
}
/*services grid stop*/


/* portfolio section start */
section.portfolio{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-item{
    flex-basis: 25%;
    height: 250px;
    overflow: hidden;
    position: relative;
    
}
.portfolio-item a img{
    width: 100%;
    height: 100%;
    transition: all .4s ease-in;
    
}

.portfolio-item:hover a img{
    transform: scale(1.2);
}

.portfolio-item .overlay{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in;
}

.portfolio-item:hover .overlay{
    background: #e84545d5;
}

.portfolio-item .overlay h3{
    transform: translate(0px, -20px);
    opacity: 0;
    padding-bottom: 10px;
    transition: all .4s ease-in;
    color: var(--color-white);
    font-family: var(--heading-font2);
    font-size: var(--body-font-size1);
    text-transform: uppercase;
    font-weight: 600;
}
.portfolio-item .overlay p{
    transform: translate(0px, 20px);
    opacity: 0;
    transition: all .4s ease-in;
    color: var(--color-white);
    font-size: var(--body-font-size1);
    font-family: var(--body-font);
}

.portfolio-item .overlay:hover h3, .portfolio-item .overlay:hover p{
    opacity: 1;
    transform: unset;
}
/* portfolio section stop */


/* team section start */
section.team{
    padding: 100px 0 70px 0;
}
.team-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.team-member{
    flex-basis: 23%;
}

.team-member img{
    width: 100%;
}

.team-member h2{
    font-size: var(--heading2-font-size);
    font-family: var(--body-font);
    font-weight: 500;
    color: var(--color-dark);
    padding-top: 15px;
}

.team-member span{
    display: block;
    font-size: var(--body-font-size1);
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--color-bright);
    text-transform: uppercase;
    padding: 7px 0 15px 0;
}
.team-member p{
    font-size: var(--body-font-size1);
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--color-light);
    line-height: 1.4;
}

.team-member ul li{
    list-style: none;
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid var(--color-extra-light);
    text-align: center;
    transition: all .4s ease-in;
    margin: 15px 5px 30px 0;
}

.team-member ul li:hover{
    background: var(--color-bright);
    border-color: var(--color-bright);
}

.team-member ul li:hover a{
    color: var(--color-white);
}

.team-member ul li a{
    display: inline-block;
    font-size: var(--body-font-size1);
    line-height: 35px;
    transition: all .4s ease-in;
    color: var(--color-extra-light);
    
}
/* team section stop */

